@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  src: url(../img/press-start-2p.ttf);
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #070638;
}

.center-content {
    text-align: center;
    font-size: 14px;
    color: #dfdfdf;
    font-family: "PressStart2P"
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 img {
    max-width: 100%;
}

a, a:visited {
    color: #1226ef;
    text-decoration: none;
}

a:hover {
    color: #244cff;
    text-decoration: none;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}
